@font-face {
  font-family: "shuxin";
  src: url("../../font/FZLanTYJ_Cu.otf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: sans-serif;
  font-size: 20px;
  width: 788px;
  color: #1e1f20;
  transform: scale(1.6);
  transform-origin: 0 0;
}

.container {
  width: 900px;
  padding: 20px 15px 10px 15px;
  background-image: url(./items/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  text-align: center;
  font-size: 50px;
  color: #000000; 
  font-weight: 1000; 
  margin-top: 100px;
  /*background: -webkit-linear-gradient(top, rgb(212, 110, 212), rgb(104, 184, 221));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}

.dx_box {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border-image-source: url(./items/bg2.png);
  border-image-slice: 60 0 50 0 fill;
  border-top: 60px solid;
  border-bottom: 50px solid;
  font-size: 30px;
  font-weight: bold; 
  text-align: center;
}

.dx {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dx_ {
  text-align: center;
  font-size: 30px;
  padding-top: 80px;
}

.dx_2 {
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  padding-top: 20px;
}

.icon {
  background-size: 104px 97.5px;
  background-repeat: no-repeat;
  background-position: center -5px;
}

#dx_1 {
  background-image: url(./items/一档.png);
}

#dx_2 {
  background-image: url(./items/二档.png);
}

#dx_3 {
  background-image: url(./items/三档.png);
}

.rank_box {
  display: flex;
  flex-direction: column;
  border-image-source: url(./items/bg2.png);
  border-image-slice: 60 0 50 0 fill;
  border-top: 60px solid;
  border-bottom: 50px solid;
}

.bg {
  background: url(./items/item.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center 10px;
}

.rank {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 30px;
  text-align: center;
  font-weight: bold; 
  margin-top: 10px;
}

.rank_ {
  flex: 1;
}

._difficulty {
  padding: 0px 10px;
  border-radius: 7px;
  font-size: 25px;
  font-weight: 1000; 
}

#EX {
  background-color: hsla(288, 58%, 62%, 0.719);
  border: 3px solid hsl(278, 47%, 51%);
}

#HC {
  background-color: hsla(321, 49%, 66%, 0.815);
  border: 3px solid hsl(320, 24%, 55%);
}

#VH {
  background-color: hsla(197, 65%, 55%, 0.815);
  border: 3px solid hsl(199, 80%, 42%);
}

#N {
  background-color: hsla(59, 67%, 62%, 0.815);
  border: 3px solid hsl(59, 80%, 42%);
}

.arona_icu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: center;
  height: 110px;
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: right top;
  margin-bottom: -25px;
  margin-right: 15px
}

.version {
  height: 40px;
  white-space: nowrap;
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
  text-shadow:3px 3px 4px #666;
}
.V {
  color: #0065d8;
  font-weight: 1000;
}
