@font-face {
  font-family: "FZLanTYJ_Cu";
  src: url("../../font/FZLanTYJ_Cu.otf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  display: inline-flex;
  font-size: 16px;
  font-family: "FZLanTYJ_Cu";
  transform: scale(1.5);
  transform-origin: 0 0;
  color: #1e1f20;
}

.bg {
  display: flex;
  flex-direction: column;
  background: url(./items/顶部.png), url(./items/bg.png);
  background-position: top -8px left -8px, bottom right;
  background-size: auto 150px, cover;
  background-repeat: no-repeat, no-repeat;
  padding: 20px 20px;
  padding-top: 50px;
}

.top_box {
  position: relative;
  /*background: rgba(0, 255, 42, 0.534);*/
}

.message_box {
  display: inline-flex;
  justify-content: space-around;
  position: absolute;
  right: 13%;
  border-image-source: url(./items/对话框.png);
  border-image-slice: 40 80 40 28 fill;
  border-top: 40px solid;
  border-right: 80px solid;
  border-bottom: 40px solid;
  border-left: 28px solid;
  padding-left: 40px;
  /*background: rgba(0, 152, 253, 0.534);*/
}

.text {
  color: #ffffff;
  white-space: nowrap;  /*禁止文本自动换行*/
  font-weight: bold; 
  font-size: 30px;
}

#text {
  line-height: 18px;
}

#day {
  line-height: 60px;
}

.arona {
  height: 316px;
  background: url(items/Arona1.png) no-repeat;
  background-position: right;
  /*background-color: rgba(255, 0, 0, 0.2);*/
}

.item_box {
  background: rgba(0, 0, 0, 0.2);
  padding: 10px 0px;
  margin: 0px 0px 10px;
  border-radius: 10px;
}

.item {
  display: inline-flex;
  flex-direction: column;
  padding: 7px 0px;
  margin: 10px 15px;
  background: hwb(0 100% 0%) url(./items/item.png) no-repeat;
  background-position: left -3px top -3px;
  border: 3px solid hsl(0, 0%, 100%);
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.6);
}

/*盒子顶部*/
.item .top {
  display: inline-flex;
  margin: 5px 15px;
}

/* 服务器 */
.server {
  height: 30px;
  white-space: nowrap; 
  font-weight: bold; 
  font-size: 22px;
  text-align: center;
  line-height: 140%;
  color: rgb(255, 255, 255);
  padding: 0px 17px 0px;
  border-radius: 5px;
}

#CN {
  background: rgb(59, 150, 255);
}

#INT {
  background: rgb(211, 52, 52);
}

#JP {
  background: rgb(204, 129, 16);
}

/*标题*/
#title {
  height: 25px;
  line-height: 160%;
  white-space: nowrap;
  font-weight: bolder;
  font-size: 30px;
  color: rgb(51, 65, 77);
  margin: -8px 0px 0px;
}

/* 分割线 */
.item .solid {
	border-top: 2px solid rgb(169, 169, 177);
  border-radius: 10px;
  margin: 5px 15px;
}

/* 盒子底部 */
.item .bottom {
  display: inline-flex;
  margin: 5px 15px;
}

.item .img {
  width: 300px;
  height: 150px;
  border-radius: 3px;
}

/* 盒子图片1 */
#img1 {
  margin-right: 10px;
  background: url(./items/红.png) center no-repeat;
  background-size: cover;
}

/* 盒子卡池图片1 */
#img2 {
  background: url(./items/红.png) no-repeat left top;
  background-size: cover;
}

/* 盒子卡池图片2 */
#img3 {
  margin-left: 10px;
  margin-right: 10px;
  background: url(./items/红.png) no-repeat right bottom;
  background-size: cover;
}

.icon_box {
  display: flex;
  flex-direction: column;
}

/* 图标 */
.item .icon {
  width: 40px;
  height: 40px;
  margin: 12px 15px 0 5px;
  border-radius: 4px;
}
.item .icon-time {
  background: url(items/time.png) no-repeat 50% / cover;
}
.item .icon-日历 {
  margin-top: 28px;
  background: url(items/日历.png) no-repeat 50% / cover;
}
.item .icon-红 {
  background: url(items/红.png) no-repeat 50% / cover;
}
.item .icon-绿 {
  background: url(items/绿.png) no-repeat 50% / cover;
}

/*方格内顶部填充*/
.info {
  padding-top: 7px;
}

.info .time {
  white-space: nowrap;
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
  margin: 10px 0px 18px;
}

.info .time1 {
  white-space: nowrap;
  font-weight: 500;
  font-size: 28px;
  line-height: 30px;
  margin: 40px 0px 20px;
}

.time1 .act1 {
  font-size: 30px;
  color: rgb(81, 156, 243); 
  font-weight: bolder
}

.time1 .act2 {
  font-size: 30px;
  color: red; 
  font-weight: bolder
}

.version {
  height: 40px;
  white-space: nowrap;
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
  text-shadow:3px 3px 4px #666;
  /*-webkit-text-stroke: 1px rgba(101, 181, 255, 0.836);  /*字体描边*/
}

.V {
  color: #0065d8;
  font-weight: 1000;
}

