@font-face {
  font-family: "FZLanTYJ_Cu";
  src: url("../../../font/FZLanTYJ_Cu.otf");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  font-size: 16px;
  font-family: "FZLanTYJ_Cu";
  transform: scale(1.5);
  transform-origin: 0 0;
  color: #1e1f20;
}
.container {
  display: inline-flex;
  flex-direction: column;
  background: url(./items/顶部.png), url(./items/bg.png);
  background-position: top -8px left -8px, bottom right;
  background-size: auto 150px, cover;
  background-repeat: no-repeat, no-repeat;
  padding: 20px 20px;
  padding-top: 50px;
}
.top_box {
  position: relative;
  height: 300px;
}
.title_box {
  position: absolute;
  right: 160px;
  top: 10px;
  display: flex;
  width: 740px;
  /*background: rgba(58, 168, 15, 0.541);*/
  border-image-source: url(./items/对话框.png);
  border-image-slice: 38 80 42 28 fill;
  border-top: 38px solid;
  border-right: 80px solid;
  border-bottom: 42px solid;
  border-left: 28px solid;
}
.title {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 9px;
  color: #ffffff;
  white-space: nowrap;  /*禁止文本自动换行*/
  font-weight: bold; 
  font-size: 30px;
  margin-left: 10px;
}
.title .id {
  line-height: 18px;
}
.title .day {
  line-height: 25px;
}
.arona {
  height: 316px;
  background: url(items/Arona1.png) no-repeat 100%;
  margin-top: -15px;
}
.box {
  background: rgba(0, 0, 0, 0.2);
  padding: 10px 0px;
  margin: 0px 0px 10px;
  border-radius: 10px;
}
.item {
  display: inline-flex;
  flex-direction: column;
  padding: 7px 0px;
  margin: 10px 15px;
  background: hwb(0 100% 0%) url(./items/item.png) no-repeat;
  background-position: left -3px top -3px;
  border: 3px solid hsl(0, 0%, 100%);
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.6);
}
/*盒子顶部*/
.item .top {
  display: inline-flex;
  margin: 5px 15px;
}
/*盒子顶部左边*/
.item .top_left {
  height: 30px;
  background: rgb(59, 150, 255);
  border-radius: 5px;
  margin: 0px 0px;
}
/*盒子顶部左边文本*/
.item .top_left p {
  white-space: nowrap;
  font-weight: bold; 
  font-size: 22px;
  color: rgb(255, 255, 255);
  margin: 0px 17px 0px;
}
/*盒子顶部右边*/
.item .top_right {
  height: 25px;
  margin: 2px 15px;
}

/*盒子顶部右边文本*/
.item .top_right p {
  white-space: nowrap;
  font-weight: bolder;
  font-size: 30px;
  color: rgb(51, 65, 77);
  margin: -8px 0px 0px;
}
/* 分割线 */
.item .solid {
	border-top: 1px solid rgb(169, 169, 177);
  border-radius: 10px;
  margin: 5px 15px;
}
/* 盒子底部 */
.item .bottom {
  display: inline-flex;
  margin: 5px 15px;
}
.item .img {
  width: 300px;
  height: 150px;
  border-radius: 3px;
}
/* 盒子底部图片1 */
.item .img1 {
  margin-right: 10px;
  background: url(./items/红.png) center no-repeat;
  background-size: cover;
}
/* 盒子底部图片卡池1 */
.item .img2 {
  background: url(./items/红.png) no-repeat left top;
  background-size: cover;
}
/* 盒子底部图片卡池2 */
.item .img3 {
  margin-left: 10px;
  margin-right: 10px;
  background: url(./items/红.png) no-repeat right bottom;
  background-size: cover;
}

/* 图标盒子 */
.item .icon_box {
  display: flex;
  flex-direction: column;
}
/* 图标 */
.item .icon {
  width: 40px;
  height: 40px;
  margin: 12px 15px 0 5px;
  border-radius: 4px;
}
.item .icon-time {
  background: url(items/time.png) no-repeat 50% / cover;
}
.item .icon-日历 {
  margin-top: 28px;
  background: url(items/日历.png) no-repeat 50% / cover;
}
.item .icon-红 {
  background: url(items/红.png) no-repeat 50% / cover;
}
.item .icon-绿 {
  background: url(items/绿.png) no-repeat 50% / cover;
}

/*方格内顶部填充*/
.item .text {
  padding-top: 7px;
}
.item .text .time {
  white-space: nowrap;
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
  margin: 10px 0px 18px;
}
.item .text .time1 {
  white-space: nowrap;
  font-weight: 500;
  font-size: 28px;
  line-height: 30px;
  margin: 40px 0px 20px;
}
.time1 .act1 {
  font-size: 30px;
  color: rgb(81, 156, 243); 
  font-weight: bolder
}
.time1 .act2 {
  font-size: 30px;
  color: red; 
  font-weight: bolder
}
.version {
  height: 40px;
  white-space: nowrap;
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
  text-shadow:3px 3px 4px #666;
  /*-webkit-text-stroke: 1px rgba(101, 181, 255, 0.836);  /*字体描边*/
}
.V {
  color: #0065d8;
  font-weight: 1000;
}

