<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <link rel="shortcut icon" href="#" />
  <link rel="stylesheet" type="text/css" href="{{pluResPath}}html/activity/activity.css" />
  <link rel="preload" href="{{resPath}}font/FZLanTYJ_Cu.otf" as="font">
</head>

<body>
  <div class="bg" id="container">

    <div class="top_box">
      <div class="arona">
        <div class="message_box">
          {{@day}}
        </div>
      </div>
    </div>

    <div class="item_box">
      
      {{each activity data}}
    <div class="item">
      <div class="top">
        <span class="server" id="{{data.serverID}}">{{data.server}}</span>
        <span class="title" id="title">&nbsp;&nbsp;{{data.title}}</span>
      </div>
       <hr class="solid">
        <div class="bottom">
          {{if data.img==''}}
          {{else}}
          {{if data.banner}}
          <div class="img" id="img2" style="background-image: url({{data.img}})"></div>
         <div class="img" id="img3" style="background-image: url({{data.img}})"></div>
         {{else}}
         <div class="img" id="img1" style="background-image: url({{data.img}})"></div>
         {{/if}}
         {{/if}}
         <div class="icon_box">
          <div class="icon icon-time"></div>
          <div class="icon icon-日历"></div>
        </div>
           <div class="info">
            <div class="time">{{data.activity_time}}</div>
            <div class="time1">距离{{if data.banner}}卡池{{else}}活动{{/if}}<span style='font-weight: bolder'> {{data.activity_star?'结束':'开始'}} </span>还有 {{@data.time_diff}}</div>
        </div>
      </div>
    </div>
    {{/each}}

    </div>
    {{@copyright}}
  </div>
</body>


</html>