<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{{pluResPath}}font/FZLanTYJ_Cu.otf" />
  <link rel="stylesheet" href="{{pluResPath}}html/gacha/index.css" />
</head>

<body>
  <div class="container" id="container">
    <div class="info_left"><span class="pool">当期up：{{@up}}</span></div>
    <div class="info_right"><span class="text">{{@info}}</span></div>

    <div class="cards">
      {{each list e}}
      <div class="card">
        <div class="card-bg" style="{{e.color}}">
          <img class="role" src="{{if e.imgFile}}{{e.imgFile}}{{else}}{{pluResPath}}html/gacha/items/未知.png{{/if}}" alt="加载失败">
          <img class="star" src="{{pluResPath}}html/gacha/items/star{{e.star}}.png" alt="加载失败">
        </div>
        {{if e.isUp}}<span class="up">概率提升！</span>{{/if}}
      </div>
      {{/each}}
    </div>

    {{@copyright}}
  </div>
</body>

</html>